@import url("./colors.css");

.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-box-shadow {
  box-shadow: 0.125rem 0.25rem 0.625rem 0.125rem rgba(var(--color-common-800), 0.2);
}
